@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kalam:wght@300;400;700&family=Nanum+Brush+Script&family=Niconne&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Rancho&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schoolbell&family=Short+Stack&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

:root{
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --assent-color: rgb(4, 12, 91);
}



body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
}



header {
  text-align: center;
  padding: 5rem 1rem 1rem;
}

header h1,
header p{
  font-family: "Poppins", sans-serif;
}

header h1{
  font-size: 3.7rem;
  margin-bottom: 1.8rem;
  color: var(--main-color);
}

header p{
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}

.back-btn {
  margin-top: 1rem;
  padding: .7rem 3rem;
  font-size: 1.7rem;
  border: none;
  background: var(--main-color);
  color: black;
  cursor: pointer;
  border-radius: 2rem;
  transition: .5s ease;
}

.btn{
  margin-top: 1.5rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.5rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover{
  box-shadow: none;
}

.back-btn:hover{
  box-shadow: 0 0 1rem var(--main-color);
}
span{
  color: var(--main-color);
}
.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 5rem 4rem;
}

.projects-container .project-box{
  max-width: 300px;
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease;
}

.projects-container .project-box:hover{
  border: none;
  box-shadow: 0 0 .8rem var(--main-color);
  transform: scale(1.05);
  background: var(--assent-color);
}


.project-box img{
  width: 100%;
  height: auto;
  border-radius: 15px;
  height: 180px;
  box-shadow: 0 0 .7rem black;
}
.project-box i{
  font-size: 7rem;
  color: var(--main-color);
}

.project-box h3{
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.project-box p{
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.project-box .btn{
  margin-top: 3rem;
}